# LaTeX compilation files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*-blx.bib
*.bbl
*.blg
*.run.xml
*.vrb
*.dvi

# JavaScript/TypeScript imports and compilation files
node_modules
coverage

# JetBrains stuff
.idea
